{% extends 'dashboard/admin_d.html' %}
{% block admin-content %}

<div class="container-fluid ">

  <h1 class="">All Guest CV's</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Phone</th>

      <th>Last Education</th>
      <th>Current Job Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for cv in guest_cvs %}
    <tr>
      <td>{{ cv.full_name }}</td>
      <td>{{ cv.email }}</td>
      <td>{{ cv.user.phone_number }}</td>

      <td>{{ cv.last_education }}</td>
      <td>{{ cv.current_job_status }}</td>
      <td>
        <a href="{% url 'guest_cv_by_pk' cv.pk %}" class="btn btn-sm btn-primary" target="_blank">View</a>
        <a href="{% url 'guest_cv_by_pk' cv.pk %}?action=download" class="btn btn-sm btn-primary" target="_blank">Download PDF</a>
        <a href="{% url 'guest_cv_by_pk' cv.pk %}?action=print" class="btn btn-sm btn-primary" target="_blank">Print</a>
      </td>

    </tr>
    {% empty %}
    <tr>
      <td colspan="7">No guest CVs found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock admin-content %}
