{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Go On TravelDesk || Dashboard</title>
  <link rel="shortcut icon" type="image/png" href="{{site_favicon.image.url}}" />
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">


    <!-- Sidebar Start -->
    <aside class="left-sidebar ">
      <!-- Sidebar scroll-->
      <div class="">
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="{% url 'home' %}" class="text-nowrap logo-img">
            <img src="{{ site_logo.image.url }}" alt="" height="80" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="fa fa-times fs-6"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'admin_dashboard' %}" aria-expanded="false">
                <i class="fa fa-tachometer"></i>
                <span class="hide-menu grid_col_span_5">Dashboard</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                <span class="d-flex align-items-center gap-3">
                  <i class="fa fa-id-card"></i>
                  <span class="hide-menu">Guest CV Build</span>
                </span>
              </a>
              <ul aria-expanded="false" class="collapse first-level">
                <li class="sidebar-item">
                  <a href="{% url 'clients:guest_cv' %}" class="sidebar-link">
                  <i class="fa fa-circle"></i>
                    <span class="hide-menu">Add/Edit CV </span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a href="{% url 'guest_cv_panel' %}" class="sidebar-link">
                    <i class="fa fa-circle"></i>
                    <span class="hide-menu">Cv Info </span>
                  </a>
                </li>
              </ul>



            </li>






            <li>
              <span class="sidebar-divider lg"></span>
            </li>
          </ul>
        </nav>

        <div class="text-center d-flex  align-items-center justify-content-center">
          <!-- <a class="btn btn-danger logout_btn text-white d-flex align-items-center justify-content-center"
            href="{% url 'logout' %}">
            <i class="fa fa-power-off me-2"></i>
            Logout
          </a> -->
          <!-- <form id="logoutForm" action="{% url 'logout' %}" method="post" class="">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger logout_btn text-white d-flex align-items-center justify-content-center"><i class="fa fa-power-off me-2"></i>Logout</button>
            </form> -->

        </div>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler " id="headerCollapse" href="javascript:void(0)">
                <i class="fa fa-bars"></i>
              </a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link " href="javascript:void(0)" id="drop1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bell"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
              <div class="dropdown-menu dropdown-menu-animate-up" aria-labelledby="drop1">
                <div class="message-body">
                  <a href="javascript:void(0)" class="dropdown-item">
                    Item 1
                  </a>
                  <a href="javascript:void(0)" class="dropdown-item">
                    Item 2
                  </a>
                </div>
              </div>
            </li> -->
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">

              <li class="nav-item dropdown">
                <a class="nav-link " href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="{% static 'assets/profile/user-1.jpg' %}" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="fas fa-user fs-6"></i>
                      <p class="mb-0 fs-3">My Profile</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="fas fa-envelope fs-6"></i>
                      <p class="mb-0 fs-3">My Account</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="fas fa-tasks fs-6"></i>
                      <p class="mb-0 fs-3">My Task</p>
                    </a>
                    <!-- <a href="{% url 'logout' %}" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a> -->
                    <form id="logoutForm" action="{% url 'logout' %}" method="post" class="mt-2">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</button>
                  </form>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="body-wrapper-inner min_height">
        <!-- content start -->

        <div class="container-fluid ">

  <h1 class="">{{ request.user.phone_number }} CV's</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Last Education</th>
      <th>Current Job Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>{{ request.user.cv.full_name }}</td>
      <td>{{ request.user.cv.email }}</td>
      <td>{{ request.user.cv.user.phone_number }}</td>
      <td>{{ request.user.cv.last_education }}</td>
      <td>{{ request.user.cv.current_job_status }}</td>
      <td>
        <a href="{% url 'guest_cv_by_pk' request.user.cv.pk %}" class="btn btn-sm btn-primary" target="_blank">View</a>
        <a href="{% url 'clients:guest_cv' %}" class="btn btn-sm btn-primary">Edit</a>
        <a href="{% url 'guest_cv_by_pk' request.user.cv.pk %}?action=download" class="btn btn-sm btn-primary" target="_blank">Download PDF</a>
        <a href="{% url 'guest_cv_by_pk' request.user.cv.pk %}?action=print" class="btn btn-sm btn-primary" target="_blank">Print</a>
      </td>


    </tr>
    {% if not request.user.cv.full_name %}
    <tr>
      <td colspan="7">No CV found.</td>
    </tr>
    {% endif %}

  </tbody>
</table>
</div>



        <!-- content end -->

      </div>
      <div class="py-6 px-6 text-center">
        <p class="mb-0 fs-4">Copyright © 2025 {{ site_footer_description }}. Design and Developed by <a href="https://jbdit.com.bd"
            target="_blank">JBD IT</a></p>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/simplebar@6.2.5/dist/simplebar.min.js"></script>
  <script src="{% static 'script/sidebarmenu.js' %}"></script>
  <script src="{% static 'script/app.min.js' %}"></script>



</body>

</html>
